# Android
*.apk
*.aab
*.dex
*.class

# Build
/build/
/app/build/
/*/build/
.gradle/
local.properties

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Signing
keystore.properties
*.jks
*.keystore

# Misc
.externalNativeBuild/
.cxx/
captures/